@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
    background: black;
}

hr {
    display:block;
    margin-bottom: 25px;
    border:0px;
    height:100px;
    background-image:url('../public/images/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-size: 1.5em;
    line-height:1.5em;
    margin-bottom: 1.5em;
    font-family: serif;
}

blockquote {
    font-family: serif;
    font-size: 18px;
    width: auto;
    padding: 0.2em 0.25em 0 0.75em;
    margin: 0.5em 0.5em 2.5em 0.75em;
    line-height: 1.45;
    position: relative;
    color: white;
    border-left: 2.5px solid white;
    }


cite {
    color: white;
    font-size: 0.8em;
    bottom: -1.5em;
    right: 0%;
    position: absolute;
    padding: 0.2em 0.25em 0 0.5em;
}

p {
    line-height:1.5em;
    text-align: justify;
    hyphens: auto;
}

p + p {   
    text-indent: 1.5em;
 }

h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}

h1 + p:first-of-type:first-letter { 
    font-size: 2em;
    line-height: 0;
 }

a:hover {
    color:black;
    background: white;
}

rect:hover {
    cursor: pointer;
}

ul {
    padding: 1.5em;
}